<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./common.css" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
  </head>
  <body>
    <div class="page flex-col">
      <div class="group_1 flex-col">
        <div class="box_1 flex-row">
          <img
            class="label_1"
            referrerpolicy="no-referrer"
            src="https://lanhu.oss-cn-beijing.aliyuncs.com/ps6qjveiq0iy4nlhf5cphr2pmvg8rug2z148e3401-e099-4bfd-9f2a-bf1045cda9f8"
          />
          <span class="text_1">首页</span>
          <span class="text_2">西安市司法行政数据共享交换平台</span>
          <span class="text_3">2020年6月24日</span>
          <span class="text_4">周四</span> <span class="text_5">13:04:12</span>
        </div>
        <div class="box_2 flex-row"><div class="block_1 flex-col"></div></div>
        <div class="box_3 flex-row">
          <div class="box_4 flex-col">
            <div class="section_1 flex-col">
              <div class="block_2 flex-row">
                <div class="block_3 flex-row">
                  <img
                    class="label_2"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psf093iilo0pgn4jiq3vrlzb2h5exvmz7o98352b58-112a-4c48-a43b-a9a3a3bb878e"
                  />
                  <span class="text_6">行政立法</span>
                </div>
              </div>
              <div class="image-wrapper_1 flex-row justify-between">
                <img
                  class="image_1"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/psy2m394v1h5f0k91py2zrnnbnnpkuqrfcd15b8e9cd-b482-4e34-8f11-9f645c9bb66f"
                />
                <img
                  class="image_2"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/ps85h7dzemtx47ptiiv7d05ihenswjbyak130f8037-372c-4d9f-bce5-1170a1a4a007"
                />
                <img
                  class="image_3"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/ps5jykrq537541pn6jhgb358j6axz9uqc2de5887534a-499a-47dc-b69f-51ef9f3ce495"
                />
              </div>
              <div class="text-wrapper_1 flex-row justify-between">
                <span class="text_7">1170</span>
                <span class="text_8">1170</span>
                <span class="text_9">1170</span>
              </div>
              <div class="text-wrapper_2 flex-row">
                <span class="text_10">现行有效</span>
                <span class="text_11">本年度制定（修改）</span>
                <span class="text_12">本年度废止</span>
              </div>
            </div>
            <div class="section_2 flex-col">
              <div class="box_5 flex-row">
                <img
                  class="label_3"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/psenmiskm1ochnbe72vkkvrohym1iu0yvm9c95c7711-7da7-4d2c-8bcb-39ecc1aeed62"
                />
                <span class="text_13">行政复议</span>
              </div>
              <div class="text-wrapper_3 flex-row">
                <span class="text_14">复议总数：</span>
                <span class="text_15">1170</span>
                <span class="text_16">应诉总数：</span>
                <span class="text_17">1170</span>
              </div>
              <div class="box_6 flex-row justify-between">
                <div class="box_7 flex-col">
                  <div class="group_2 flex-col"></div>
                </div>
                <div class="box_8 flex-col">
                  <div class="box_9 flex-col"></div>
                </div>
              </div>
              <div class="box_10 flex-row">
                <div class="text-group_1 flex-col justify-between">
                  <span class="text_18">已审结&nbsp;756</span>
                  <span class="text_19">64.7%</span>
                </div>
                <div class="text-group_2 flex-col justify-between">
                  <span class="text_20">审理中&nbsp;414</span>
                  <span class="text_21">35.3%</span>
                </div>
                <div class="text-group_3 flex-col justify-between">
                  <span class="text_22">胜诉&nbsp;756</span>
                  <span class="text_23">64.7%</span>
                </div>
                <div class="text-group_4 flex-col justify-between">
                  <span class="text_24">败诉&nbsp;414</span>
                  <span class="text_25">35.3%</span>
                </div>
              </div>
              <div class="box_11 flex-row">
                <div class="text-wrapper_4">
                  <span class="text_26">97</span> <span class="text_27">%</span>
                </div>
                <img
                  class="image_4"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/ps55ci4b68phgdgsh5gy4qsrllkko5bzsjl9834c63d-90cf-4ebd-8b92-fb3955804d84"
                />
                <span class="text_28">943</span>
                <div class="text-wrapper_5">
                  <span class="text_29">81</span> <span class="text_30">%</span>
                </div>
                <div class="group_3 flex-col"></div>
                <div class="group_4 flex-col"></div>
              </div>
              <div class="text-wrapper_6 flex-row">
                <span class="text_31">纠错率</span>
                <span class="text_32">行政争议调处总数</span>
                <span class="text_33">调解率</span>
              </div>
            </div>
            <div class="section_3 flex-row justify-between">
              <div class="box_12 flex-col">
                <div class="section_4 flex-row">
                  <div class="image-text_1 flex-row justify-between">
                    <img
                      class="label_4"
                      referrerpolicy="no-referrer"
                      src="https://lanhu.oss-cn-beijing.aliyuncs.com/psk4g3o008qth3pujqd99ej2kcf679fb6pecee7ae5-b112-4366-99d0-ce2cccbb1cb4"
                    />
                    <span class="text-group_5">行政执法监督</span>
                  </div>
                </div>
                <div class="text-wrapper_7 flex-row justify-between">
                  <span class="text_34">已持有行政执法员证件数</span>
                  <span class="text_35">正在申请办证数</span>
                </div>
                <div class="section_5 flex-col"></div>
                <div class="text-wrapper_8 flex-row justify-between">
                  <span class="text_36">756人</span>
                  <span class="text_37">414人</span>
                </div>
                <div class="section_6 flex-col"></div>
              </div>
              <div class="box_13 flex-col">
                <div class="box_14 flex-row">
                  <div class="image-text_2 flex-row justify-between">
                    <img
                      class="label_5"
                      referrerpolicy="no-referrer"
                      src="https://lanhu.oss-cn-beijing.aliyuncs.com/pswusng8vs6hiaysnwh9r6xbck674tm4ip390867f8-531b-4879-8f87-9fd818307fc2"
                    />
                    <span class="text-group_6">行政规范性文件</span>
                  </div>
                </div>
                <img
                  class="image_5"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/psoolw340zld9srbh1uso0gei9j8y7n0j6125756cf-9f5d-4502-aa73-f0e8600a7688"
                />
                <div class="text-group_7 flex-col justify-between">
                  <span class="text_38">943</span>
                  <span class="text_39">现行有效文件数量</span>
                </div>
              </div>
            </div>
          </div>
          <div class="box_15 flex-col">
            <div class="box_16 flex-row">
              <img
                class="label_6"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/ps813oibjc2u6ys79j1pkw69qoyavqduxl7dffa9e6-dd68-4c2f-a9e9-2d1c5951f793"
              />
              <span class="text_40">业务地图</span>
            </div>
            <div class="box_17 flex-row justify-between">
              <span class="text_41">全市</span>
              <img
                class="label_7"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/psu4mcupymurxovt2iffmbgw52hvon5q2s4c61de0c-4370-4c1f-bd05-1a73a1d8ba4e"
              />
            </div>
            <div class="box_18 flex-col">
              <div class="text-wrapper_9 flex-row">
                <span class="text_42">阎良</span>
              </div>
              <div class="text-wrapper_10 flex-row justify-between">
                <span class="text_43">泾河</span>
                <span class="text_44">高陵</span>
              </div>
              <div class="text-wrapper_11 flex-row">
                <span class="text_45">空港</span>
              </div>
              <div class="text-wrapper_12 flex-row">
                <span class="text_46">临潼</span>
              </div>
              <div class="text-wrapper_13 flex-row">
                <span class="text_47">秦汉</span>
              </div>
              <div class="text-wrapper_14 flex-row">
                <span class="text_48">未央</span>
              </div>
              <div class="text-wrapper_15 flex-row">
                <span class="text_49">沣东</span>
                <span class="text_50">莲湖</span>
                <span class="text_51">新城</span>
                <span class="text_52">灞桥</span>
              </div>
              <div class="group_5 flex-row">
                <span class="text_53">周至</span>
                <span class="text_54">鄠邑</span>
                <div class="group_6 flex-col">
                  <div class="text-wrapper_16 flex-col">
                    <span class="text_55">长安</span>
                  </div>
                </div>
                <span class="text_56">蓝田</span>
              </div>
              <div class="group_7 flex-row justify-between">
                <span class="text_57">沣西</span>
                <div class="text-wrapper_17 flex-col justify-between">
                  <span class="text_58">碑林</span>
                  <span class="text_59">雁塔</span>
                </div>
              </div>
              <div class="group_8 flex-col">
                <div class="box_19 flex-col"></div>
                <div class="text-wrapper_18">
                  <span class="paragraph_1"
                    >合计<br />新城区<br />碑林区<br />莲湖区<br />灞桥区<br />未央区<br />雁塔区<br />阎良区<br />临潼区<br
                  /></span>
                  <span class="paragraph_2">长安区<br /></span>
                  <span class="paragraph_3"
                    >高陵区<br />鄠邑区<br />蓝田县<br />周至县<br />高新区<br />西咸新区<br />国际港务区</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="box_20 flex-col justify-between">
            <div class="box_21 flex-col">
              <div class="group_9 flex-row">
                <div class="block_4 flex-row">
                  <img
                    class="label_8"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/pszpg4fgdh8qngmsrafbwd9qgj757r7v79hbd58afed-6470-40c1-a14b-8da5abc7d10a"
                  />
                  <span class="text_60">公共法律服务平台数据</span>
                </div>
                <span class="text_61">详细</span>
                <img
                  class="label_9"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/pseupnv2vdjvatunnyrqwg2lopdeh4gye7df3aeb48-353c-442c-8cab-ce70d9c93a68"
                />
              </div>
              <div class="image-wrapper_2 flex-row justify-between">
                <img
                  class="image_6"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/pspsprpze7habpit3oaqk8tqkg7cv9ng452deebd-552a-4bba-86fb-3b63a5283280"
                />
                <img
                  class="image_7"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/psxbd0jx5e5ppeotfvcw9ddyku5wcbo3hb4a88f7d-2deb-4c90-a11c-db309f8bfd58"
                />
                <img
                  class="image_8"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/psq372qzjw3afx48zgeoreqb4xjzhuyuq9794d86ab-0b92-440e-9403-1c1470c62aca"
                />
              </div>
              <div class="text-wrapper_19 flex-row justify-between">
                <span class="text_62">943</span>
                <span class="text_63">943</span>
                <span class="text_64">943</span>
              </div>
              <div class="text-wrapper_20 flex-row">
                <span class="text_65">热线</span>
                <span class="text_66">网络</span>
                <span class="text_67">本年度案件</span>
              </div>
            </div>
            <div class="box_22 flex-col">
              <div class="box_23 flex-row">
                <div class="group_10 flex-row">
                  <img
                    class="label_10"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/ps5zkbxj5yrnuyqr6m5habvkukksxly0hj7696912b-a816-4d80-b748-b4e20e02795a"
                  />
                  <span class="text_68">律师业务</span>
                </div>
                <span class="text_69">详细</span>
                <img
                  class="label_11"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/psb604kt6bq5ij1xlb6gsf198kbzhh55k3d9a3bcb02-1283-449e-889e-afc41dc2d5ec"
                />
              </div>
              <div class="image-wrapper_3 flex-row">
                <img
                  class="image_9"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/psxbzae4bc6enaa2oji5459ebol6lu9tivnc3878d25-c0b4-40d7-b08a-fa1d72a3a969"
                />
                <img
                  class="image_10"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/psn5a1e7wau9pljdvpyb7ots5lt6ph2xdc19e9841-77d6-487f-beff-ca933fce1f8c"
                />
                <img
                  class="image_11"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/pshxb69olqdmliduq8nfg76kdcpa8ayvvj658752510-016f-4b0d-a46d-a8d912d9dfee"
                />
              </div>
              <div class="box_24 flex-row">
                <div class="text-group_8 flex-col justify-between">
                  <span class="text_70">943</span>
                  <span class="text_71">律师</span>
                </div>
                <div class="text-group_9 flex-col justify-between">
                  <span class="text_72">943</span>
                  <span class="text_73">律所</span>
                </div>
                <div class="text-group_10 flex-col justify-between">
                  <span class="text_74">943</span>
                  <span class="text_75">本年度案件</span>
                </div>
              </div>
            </div>
            <div class="box_25 flex-col">
              <div class="group_11 flex-row justify-between">
                <div class="group_12 flex-row">
                  <div class="image-text_3 flex-row justify-between">
                    <img
                      class="label_12"
                      referrerpolicy="no-referrer"
                      src="https://lanhu.oss-cn-beijing.aliyuncs.com/psg8aihjux0slcem5wn1h94vwdt8vgbuzcdc9a707-2990-4b3f-a0cf-f6b68277984a"
                    />
                    <span class="text-group_11">公证办理</span>
                  </div>
                </div>
                <div class="image-text_4 flex-row justify-between">
                  <span class="text-group_12">详细</span>
                  <img
                    class="label_13"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/ps4pyuntfqrmhf8odivmufvcguvlq9wv0s54d60f707-a97d-460f-9b58-45f6b680c5fa"
                  />
                </div>
              </div>
              <div class="group_13 flex-row">
                <div class="image-text_5 flex-col justify-between">
                  <img
                    class="image_12"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/ps5x3poa16s2pn57xh4z21pk3hl23j7z2qj72a7bea2-6517-46a7-94dd-5f26ce6a944c"
                  />
                  <div class="text-group_13 flex-col justify-between">
                    <span class="text_76">943</span>
                    <span class="text_77">公证员</span>
                  </div>
                </div>
                <div class="image-text_6 flex-col justify-between">
                  <img
                    class="image_13"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psrzktsuy1qmaes5z2ojgyo76z5ptzganw21b7eec0-c922-4519-b97b-125e64f562e1"
                  />
                  <div class="text-group_14 flex-col justify-between">
                    <span class="text_78">943</span>
                    <span class="text_79">公证处</span>
                  </div>
                </div>
                <div class="image-text_7 flex-col justify-between">
                  <img
                    class="image_14"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/ps56hemuskv2rpg3irrbgqintrxe4amsz7997c4b962-2d4d-4147-b50f-a7986e6813fb"
                  />
                  <div class="text-group_15 flex-col justify-between">
                    <span class="text_80">943</span>
                    <span class="text_81">本年度案件</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="box_26 flex-col">
              <div class="group_14 flex-row justify-between">
                <div class="box_27 flex-row">
                  <div class="image-text_8 flex-row justify-between">
                    <img
                      class="label_14"
                      referrerpolicy="no-referrer"
                      src="https://lanhu.oss-cn-beijing.aliyuncs.com/psunfa50cyxnacjiwu48kvco141ctvynlt3fba1d940-e143-4710-982c-0301c9df49cf"
                    />
                    <span class="text-group_16">司法鉴定</span>
                  </div>
                </div>
                <div class="image-text_9 flex-row justify-between">
                  <span class="text-group_17">详细</span>
                  <img
                    class="label_15"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/pse2b4yghdspn27kaj2e5mw2wmfs25z8u6n6e638958-09cf-4314-ab6a-9554e6aa25d4"
                  />
                </div>
              </div>
              <div class="group_15 flex-row">
                <div class="image-text_10 flex-col justify-between">
                  <img
                    class="image_15"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psi2jya6kchtl159drfgtsurfp2iymy9ton08f424a9-af0d-4699-aabc-6a8ff1d39174"
                  />
                  <div class="text-group_18 flex-col justify-between">
                    <span class="text_82">943</span>
                    <span class="text_83">司法鉴定人</span>
                  </div>
                </div>
                <div class="image-text_11 flex-col justify-between">
                  <img
                    class="image_16"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psngbbl7f5qtytc6exrl5r82t3v4q51lb7776a0d1-b34c-4154-9d24-6b2ecf269fa9"
                  />
                  <div class="text-group_19 flex-col justify-between">
                    <span class="text_84">943</span>
                    <span class="text_85">司法鉴定机构</span>
                  </div>
                </div>
                <div class="image-text_12 flex-col justify-between">
                  <img
                    class="image_17"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psf2jt9g7ab25n4tzq1zsj53czcu7xx4bxcbe49aaf-7220-4b77-bd55-4eb999e9e63e"
                  />
                  <div class="text-group_20 flex-col justify-between">
                    <span class="text_86">943</span>
                    <span class="text_87">本年度总案件量</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box_28 flex-row">
          <div class="section_7 flex-col">
            <div class="section_8 flex-row">
              <div class="block_5 flex-row">
                <div class="image-text_13 flex-row justify-between">
                  <img
                    class="label_16"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psdhdwlexm619zscj0i9k1jsh8ut5dedjob14447750-fdc6-4f71-affd-f5c2465a7443"
                  />
                  <span class="text-group_21">人民调解案件总数</span>
                </div>
              </div>
            </div>
            <div class="section_9 flex-row">
              <div class="text-wrapper_21 flex-col justify-between">
                <span class="text_88">234</span>
                <span class="text_89">123</span>
                <span class="text_90">82</span> <span class="text_91">90</span>
                <span class="text_92">34</span>
              </div>
              <div class="text-wrapper_22 flex-col">
                <span class="text_93">婚姻家庭</span>
                <span class="text_94">邻里</span>
                <span class="text_95">房屋宅基地</span>
                <span class="text_96">损害赔偿</span>
                <span class="text_97">征地拆迁</span>
                <span class="text_98">24.7%</span>
              </div>
              <img
                class="image_18"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/ps4dtwf47s5eg07va7rdw7rsahbxypsz2pz556e2670-7398-43bd-a649-44725763903b"
              />
              <div class="text-wrapper_23 flex-col justify-between">
                <span class="text_99">劳动争执</span>
                <span class="text_100">24.7%</span>
              </div>
              <div class="text-wrapper_24 flex-col">
                <span class="text_101">79</span>
                <span class="text_102">256</span>
                <span class="text_103">23</span>
                <span class="text_104">45</span>
                <span class="text_105">45</span>
              </div>
            </div>
            <img
              class="image_19"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/psohdj2nmcjnky99e346krqsglb8y964sff61740c-440e-44a7-8e7e-c92c4317aec0"
            />
          </div>
          <div class="section_10 flex-col">
            <div class="group_16 flex-row">
              <div class="image-text_14 flex-row justify-between">
                <img
                  class="label_17"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/psmhe4ekfawkd2i1c4hg7pewr3w605aya7md8d1650c-81a8-4040-bf96-78d55ff0e9d5"
                />
                <span class="text-group_22">仲裁服务</span>
              </div>
            </div>
            <div class="group_17 flex-col">
              <div class="block_6 flex-row justify-between">
                <span class="text_106">24.7%</span>
                <div class="text-group_23 flex-col justify-between">
                  <span class="paragraph_4">买卖纠纷<br />321</span>
                  <span class="text_107">24.7%</span>
                </div>
              </div>
              <div class="block_7 flex-row">
                <div class="text-group_24 flex-col justify-between">
                  <span class="paragraph_5">金融类案件<br />123</span>
                  <span class="text_108">24.7%</span>
                </div>
              </div>
              <div class="block_8 flex-row justify-between">
                <div class="text-group_25 flex-col justify-between">
                  <span class="paragraph_6">房产纠纷<br />234</span>
                  <span class="text_109">24.7%</span>
                </div>
                <div class="text-group_26 flex-col justify-between">
                  <span class="paragraph_7">其他<br />321</span>
                  <span class="text_110">24.7%</span>
                </div>
              </div>
            </div>
            <span class="paragraph_8">建设工程案件<br />213</span>
          </div>
          <div class="section_11 flex-col">
            <div class="block_9 flex-row">
              <div class="image-text_15 flex-row justify-between">
                <img
                  class="label_18"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/psvjvk1eqvgmshetjr46bgvirqxmxo380j3d7f936c-3bbe-48d7-9881-2f48d95337fd"
                />
                <span class="text-group_27">法律援助案件</span>
              </div>
            </div>
            <div class="block_10 flex-col">
              <div class="group_18 flex-row justify-between">
                <div class="text-group_28 flex-col justify-between">
                  <span class="text_111">民事&nbsp;123</span>
                  <span class="text_112">24.7%</span>
                </div>
                <div class="text-group_29 flex-col justify-between">
                  <span class="text_113">刑事&nbsp;123</span>
                  <span class="text_114">24.7%</span>
                </div>
              </div>
              <div class="group_19 flex-row">
                <div class="text-group_30 flex-col justify-between">
                  <span class="text_115">行政&nbsp;321</span>
                  <span class="text_116">24.7%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="section_12 flex-col">
            <div class="group_20 flex-row">
              <div class="group_21 flex-row">
                <div class="image-text_16 flex-row justify-between">
                  <img
                    class="label_19"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psw9lygj63214pfp6yn58fjxosgoph0lz9e20e43c9-6a61-4368-8bdb-09cfa69d0408"
                  />
                  <span class="text-group_31">基层工作</span>
                </div>
              </div>
            </div>
            <div class="group_22 flex-row">
              <div class="section_13 flex-col justify-between">
                <div class="image-text_17 flex-col justify-between">
                  <img
                    class="image_20"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psnbnegp6f40rixqylqtljm16aelk4iypk10de8a03-23a8-4ea0-aa3d-7bc12a21bcbc"
                  />
                  <div class="text-group_32 flex-col justify-between">
                    <span class="text_117">943</span>
                    <span class="text_118">司法所工作人员</span>
                  </div>
                </div>
                <div class="image-text_18 flex-col justify-between">
                  <div class="image-wrapper_4 flex-col align-center">
                    <img
                      class="image_21"
                      referrerpolicy="no-referrer"
                      src="https://lanhu.oss-cn-beijing.aliyuncs.com/psl43duh601b966ri0551cb5j3ky8upar3988288f9-c15d-49e9-9401-718115938f76"
                    />
                  </div>
                  <div class="text-group_33 flex-col justify-between">
                    <span class="text_119">943</span>
                    <span class="text_120">司法所</span>
                  </div>
                </div>
              </div>
              <img
                class="image_22"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/ps39rwu0buupyxdt8mara5kg5pmalxws87e92115-e566-4b24-9768-c9d9c744da2c"
              />
              <div class="section_14 flex-col justify-between">
                <div class="image-text_19 flex-col justify-between">
                  <img
                    class="image_23"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psvv20dx2o1ft0z1fkvmoouvh3lxzsm66f932f69008-7e5e-4e38-b222-2a80a86ee780"
                  />
                  <div class="text-group_34 flex-col justify-between">
                    <span class="text_121">943</span>
                    <span class="text_122">基层法律服务工作者</span>
                  </div>
                </div>
                <div class="image-text_20 flex-col justify-between">
                  <img
                    class="image_24"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psxui6vc8fioiujtik3sxrilerry0dkpyqw79679220-c466-49a3-81e2-9dae7688a5c9"
                  />
                  <div class="text-group_35 flex-col justify-between">
                    <span class="text_123">943</span>
                    <span class="text_124">基层法律服务所</span>
                  </div>
                </div>
              </div>
              <img
                class="image_25"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/ps0iv97kg8nmckagmqwby6j9wzqlme1kcar3de4b844-f46a-4daa-8465-eaca75a36ad6"
              />
              <div class="section_15 flex-col justify-between">
                <div class="image-text_21 flex-col justify-between">
                  <img
                    class="image_26"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psup5edtm727167tbah0wi98ken726icmxad42bce5-7d99-48a8-9ae5-02f50d3d5665"
                  />
                  <div class="text-group_36 flex-col justify-between">
                    <span class="text_125">943</span>
                    <span class="text_126">人民调解员</span>
                  </div>
                </div>
                <div class="image-text_22 flex-col justify-between">
                  <img
                    class="image_27"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/pss8zrjn8xydr0c2uk4cdpsgsowe9d4ucp7b7c5fb0-55a3-47c9-bf19-d95d40e3dc67"
                  />
                  <div class="text-group_37 flex-col justify-between">
                    <span class="text_127">943</span>
                    <span class="text_128">人民调解组织</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section_16 flex-col">
            <div class="block_11 flex-row">
              <div class="group_23 flex-row">
                <div class="image-text_23 flex-row justify-between">
                  <img
                    class="label_20"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psp6yhqgkc8vq98htwgqx14fdr8kg7dwlfa3193ade-7e16-4562-b906-7378b25ba796"
                  />
                  <span class="text-group_38">社区矫正</span>
                </div>
              </div>
            </div>
            <div class="block_12 flex-row">
              <div class="group_24 flex-col justify-between">
                <div class="image-text_24 flex-col justify-between">
                  <img
                    class="label_21"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psrw0490rswjivgqc6nervgs3vjp3dkdmmf8187819-0d8b-4482-a218-875743b19296"
                  />
                  <div class="text-group_39 flex-col justify-between">
                    <span class="text_129">943</span>
                    <span class="text_130">在册人数</span>
                  </div>
                </div>
                <div class="image-text_25 flex-col justify-between">
                  <img
                    class="label_22"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/pshowz8yo5zpjzz49g9f9zuuafau3bjw7f0a8c761-3140-4af5-a610-6a33edf1b317"
                  />
                  <div class="text-group_40 flex-col justify-between">
                    <span class="text_131">943</span>
                    <span class="text_132">管制</span>
                  </div>
                </div>
              </div>
              <img
                class="image_28"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/pscjuwd2m211v0y0s2jb5fnaemzxu8mgg212a7e7360-76b8-4cf5-89b0-095cc4122b64"
              />
              <div class="group_25 flex-col justify-between">
                <div class="image-text_26 flex-row">
                  <div class="text-group_41 flex-col">
                    <span class="text_133">缓</span>
                    <span class="text_134">943</span>
                    <span class="text_135">缓刑</span>
                  </div>
                  <img
                    class="label_23"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psuj04udd7va7e1aein287lmvj16n0h7kbi34b28226-f598-4acf-81b2-c3e0beca6341"
                  />
                </div>
                <div class="image-text_27 flex-row">
                  <div class="text-group_42 flex-col">
                    <span class="text_136">假</span>
                    <span class="text_137">943</span>
                    <span class="text_138">假释</span>
                  </div>
                  <img
                    class="label_24"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/psapizkmcl5growb6vsfipopydr3quruhdp72f8d1b1-f13d-477c-bd4f-9e100927a344"
                  />
                </div>
              </div>
              <img
                class="image_29"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/psq11bbg58dzl7hjt35xkxxnv75dm46ezc2aafb4f-7c60-4d3f-ae32-242176ce3419"
              />
              <div class="image-text_28 flex-col justify-between">
                <img
                  class="label_25"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/ps1tk7guobwy4iore2v57xct9y6hlma7ifq3470c52d-72b3-4613-9510-081c803a1bfa"
                />
                <div class="text-group_43 flex-col justify-between">
                  <span class="text_139">943</span>
                  <span class="text_140">暂予监外执行</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
